[submodule "extensions/lsp-bridge"]
	path = extensions/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git

[submodule "extensions/auto-save"]
	path = extensions/auto-save
	url = git@github.com:manateelazycat/auto-save.git

[submodule "extensions/achive"]
	path = extensions/achive
	url = git@github.com:zakudriver/achive.git

[submodule "extensions/popon"]
	path = extensions/popon
	url = https://codeberg.org/akib/emacs-popon.git

[submodule "extensions/acm-terminal"]
	path = extensions/acm-terminal
	url = git@github.com:twlz0ne/acm-terminal.git

[submodule "extensions/blink-search"]
    path = extensions/blink-search
    url = git@github.com:manateelazycat/blink-search.git


[submodule "extensions/sort-tab"]
	path = extensions/sort-tab
	url = git@github.com:manateelazycat/sort-tab.git